<span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
    <a class="text-gray-600">
     <img src="/static/img/courses/vid.svg" alt="" class="h-16 w-16">
    </a>
    <a class="ml-3 text-gray-600">
      <img src="/static/img/product/khata.svg" alt="" class="h-16 w-16">
    </a>
    <a class="ml-3 text-gray-600">
      <img src="/static/img/product/resume.svg" alt="" class="h-16 w-16">
    </a>
    <a class="ml-3 text-gray-600">
      <img src="/static/img/product/quizzer.svg" alt="" class="h-16 w-16">
    </a>
  </span>