<footer class="text-teal-400 bg-indigo-700 body-font" id="footer"> 
    <div
      class="container px-5 py-12 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
          <img src="/static/img/lolGoal.png" alt="Lolgoal">
        </a>
        <p class="mt-2 text-teal-400 hover:text-white">Find your next project,mentor </p>
        <p class="text-teal-400 hover:text-white">to enhance your project-based learning</p>
        <p class="text-teal-400 text-sm text-center sm:text-left">© <span id="year"></span> Lolgoal

      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-white tracking-widest text-sm mb-3">BLOG</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-teal-400 hover:text-white" href="/blog/addpost/">Create Blog</a>
            </li>
            <li>
              <a class="text-teal-400 hover:text-white" href="/blog/feed">Feeds</a>
            </li>
            <li>
              <a class="text-teal-400 hover:text-white" href="/blog/organization">Apply for organization</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-white tracking-widest text-sm mb-3">PROJECT</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-teal-400 hover:text-white" target="_blank"
                href="/blog/addpost">Create Project</a>
            </li> 
            <li>
              <a class="text-teal-400 hover:text-white" href="/project">Projects</a>
            </li>

            <li>
              <a class="text-teal-400 hover:text-white" target="_blank"
                href="/project/summerproject">Summer Projects</a>
            </li>
      
           
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-white tracking-widest text-sm mb-3">EVENTS</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-teal-400 hover:text-white" href="/createmeet">Promote your webinar</a>
            </li>
            <li>
              <a class="text-teal-400 hover:text-white" target="_blank"
                href="/meetings">Today's Live</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-white tracking-widest text-sm mb-3">EDUCATION</h2>
          <nav class="list-none mb-10">

            <li>
              <a class="text-teal-400 hover:text-white" href="/business/contact">Education Partners</a>
            </li>
            <li>
              <a class="text-teal-400 hover:text-white" href="/business/contact">Upcoming</a>
            </li>
            <li>
              <a class="text-teal-400 hover:text-white" href="/business/contact">MiniPortfolio</a>
            </li>
          
          </nav>
        </div>
      </div>
      
    </div>
    <div
    class="container px-5 py-12 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col -mt-16">
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
     
    </div>
    <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-bold text-white tracking-widest text-sm mb-3 ">EDUSOLVE ACADEMY</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-teal-400 hover:text-white" href="/python">Courses</a>
          </li>
          <li>
            <a class="text-teal-400 hover:text-white" href="/gitevent">Apply for mentor</a>
          </li>
        
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-bold text-white tracking-widest text-sm mb-3">BUSINESS</h2>
        <nav class="list-none mb-10">
        
          <li>
            <a class="text-teal-400 hover:text-white" target="_blank"
              href="/project/addproject/">Student Startup</a>
          </li>
          <li>
            <a class="text-teal-400 hover:text-white" target="_blank"
              href="/createmeet">Advertise</a>
          </li>
          <li>
            <a class="text-teal-400 hover:text-white" href="/project">Create Company Page</a>
          </li>
         
         
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-bold text-white tracking-widest text-sm mb-3">CAREERS</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-teal-400 hover:text-white" target="_blank"
              href="/createmeet">Jobs</a>
          </li>
          <li>
            <a class="text-teal-400 hover:text-white" href="/business/">Summer Internships</a>
          </li>
         
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-bold text-white tracking-widest text-sm mb-3">OTHERS</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-teal-400 hover:text-white" href="/account/profile/{{user.username}}">Products</a>
          </li>
       
          <li>
            <a class="text-teal-400 hover:text-white" href="/business/contact">Contact</a>
          </li>
        
        </nav>
      </div>
    </div>
    
  </div>
  </footer>
<script>
  var d = new Date();
document.getElementById("year").innerHTML = d.getFullYear();
</script>

