<section class="flex flex-col text-center w-full mb-2" id="freebies">
    <h1 class="sm:text-4xl text-3xl font-bold title-font mb-2 text-blue-700 ">FREEBIES</h1>
  </section>
  <section class="text-gray-500 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">

      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-teal-800 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static/img/portfolio.svg"
              alt="content">
            <p class="leading-relaxed text-base">Free portfolio design.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-pink-800 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static/img/course.svg"
              alt="content">
            <p class="leading-relaxed text-base">Free Python Course</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-indigo-800 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static/img/review.svg"
              alt="content">
            <p class="leading-relaxed text-base">Free review of your profile.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-red-800 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static/img/shop.svg" alt="content">
            <p class="leading-relaxed text-base">Free one project</p>
          </div>
        </div>
      </div>
    </div>
  </section>


