<section class="flex flex-col text-center w-full mb-2" id="services">
    <h1 class="sm:text-4xl text-3xl font-bold title-font mb-2 text-blue-700 ">SERVICES</h1>
  </section>
  <section class="text-gray-500 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">

      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-800 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static/img/meeting.SVG"
              alt="content">
            <p class="leading-relaxed text-base">Sessions to solve real-world problems with code. </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-green-800 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static/img/collab.svg"
              alt="content">
            <p class="leading-relaxed text-base">Collab with others to learn code and share your knowledge.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-blue-800 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static/img/projects.svg"
              alt="content">
            <p class="leading-relaxed text-base">Search the project from projectlist and contact to mentor.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-yellow-800 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="../static/img/money.svg"
              alt="content">
            <p class="leading-relaxed text-base">You can earn money , Simply add your project in projectlist.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

