<section class="flex flex-col text-center w-full mb-2">
    <h1 class="sm:text-4xl text-3xl font-bold title-font mb-2 text-blue-700 ">UPCOMING</h1>
  </section>
  <section class="text-gray-500 bg-gray-900 body-font " id="upcoming" >
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-wrap w-full">
        <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-6">
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-800 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-teal-500 inline-flex items-center justify-center text-white relative z-10">
              1
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-white mb-1 tracking-wider">PYTHON COURSE</h2>
              Course for Beginners
            </div>
          </div>
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-800 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-yellow-500 inline-flex items-center justify-center text-white relative z-10">
              2
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-white mb-1 tracking-wider">MEETINGS</h2>
              <p class="leading-relaxed">
                Software engineering for the Beginners
              </p>
            </div>
          </div>
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-800 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-pink-500 inline-flex items-center justify-center text-white relative z-10">
             3
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-white mb-1 tracking-wider">MEETINGS</h2>
              <p class="leading-relaxed">Design System for beginners</p>
            </div>
          </div>
          <div class="flex relative pb-12">
            <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
              <div class="h-full w-1 bg-gray-800 pointer-events-none"></div>
            </div>
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-green-500 inline-flex items-center justify-center text-white relative z-10">
              4
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-white mb-1 tracking-wider">RESUME</h2>
              <p class="leading-relaxed">Resume preparation class</p>
            </div>
          </div>
          <div class="flex relative">
            <div
              class="flex-shrink-0 w-10 h-10 rounded-full bg-blue-500 inline-flex items-center justify-center text-white relative z-10">
             5
            </div>
            <div class="flex-grow pl-4">
              <h2 class="font-medium title-font text-sm text-white mb-1 tracking-wider">FINISH</h2>
              <p class="leading-relaxed">Today Session is now ended</p>
            </div>
          </div>
        </div>
        <img class="lg:w-3/5 md:w-1/2  object-center rounded-lg md:mt-0 mt-12" src="../static/img/IDEAS.svg" alt="step">
      </div>
    </div>
  </section>

